# Ignore dataset
dataset_root/
voicesample/

# Ignore artifacts / outputs
artifacts/dataset_wav
artifacts/features

# Python cache
__pycache__/
*/__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code settings (optional)
.vscode/